html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: Poppins, Arial;
  background: linear-gradient(to right, #000000, #0B192C);
}

p, h1, h2 {
  font-family: Poppins, Arial;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  text-align: justify;
}


/* Nav Section */
.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: #0B192C;
  z-index: 400;
  font-weight: 600;
}

.left-section {
  margin-left: 50px;
  font-size: 16px;
}

.right-section {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  gap: 50px;
  font-size: 14px;
}

.nav {
  color: white;
  text-decoration: none;
}

.nav.active {
  color: #FF6500;
}


/* Hero Section */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100%;
  padding: 0px 200px;
}

.about-hero-container {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 60px;
  padding-right: 100px;
}

.greeting {
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
  color: #FF6500;
}

.name {
  font-size: 60px;
  font-weight: bold;
  text-align: left;
}

.position {
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
}

.short-desc {
  padding: 30px 5px;
  line-height: 25px;
  padding-right: 280px;
  color: rgb(255, 255, 255, 0.7);
}

.ask-me-button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #1E3E62;
  font-weight: bold;
  padding: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.social-media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E3E62;
  padding: 15px;
  width: 1050px;
  height: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.left-social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  gap: 5px;
}

.right-social-media {
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  padding-right: 15px;
}

.phone-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 15px;
  align-items: center;
}

.phone-number,
.email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.linkedin,
.github,
.instagram,
.phone,
.email {
  width: 20px;
  height: 20px;
  color: white;
  padding: 0 10px;
  vertical-align: middle;
}


/* About Section */
.about {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 50px;
  padding: 60px 180px;
  line-height: 25px;
}

.about-desc {
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
}

span {
  opacity: 1;
  color: #FF6500;
  font-weight: bold;
}


/* Experience Section */
.experience {
  justify-items: end;
  align-items: center;
  gap: 50px;
  padding: 30px 180px;
}

.experience-card {
  padding: 20px;
  margin: 15px 0;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  column-gap: 15px;
  transition: all 0.3s ease;
}

.experience-card:hover {
  padding: 20px;
  border-radius: 7px;
  color: white;
  background-color: #0B192C;
}

.experience-title,
.project-title {
  display: inline-flex;
  align-items: center;
}

.experience-title::before {
  content: "";
  display: block;
  width: 765px;
  height: 2px;
  background-color: rgb(255, 101, 0, 0.7);
  margin-right: 10px; 
  z-index: 1;
}

.experience-year {
  font-size: 12px;
  padding-top: 5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
}

.experience-desc {
  padding: 10px 0;
  line-height: 25px;
  color: rgb(255, 255, 255, 0.7);
}

.skills {
  border-radius: 40px;
  border: none;
  background-color: #FF6500;
  color: white;
  font-weight: bold;
  padding: 7px 15px;
  margin-right: 6px;
  margin-bottom: 7px;
}


/* Projects Section */
.project {
  align-items: center;
  gap: 40px;
  padding: 30px 130px;
}

.project-title {
  margin-bottom: 15px;
}

.project-title::after {
  content: "";
  display: block;
  width: 765px;
  height: 2px;
  background-color: rgb(255, 101, 0, 0.7);
  margin-left: 10px; 
  z-index: 1;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 20px;
}

.project-list {
  width: 400px;
  border-radius: 7px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  column-gap: 15px;
  transition: all 0.3s ease;
}

.project-list:hover {
  border-radius: 7px;
  color: white;
  background-color: #0B192C;
  .project-name {
    color: #FF6500;
  }
}

.project-name {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
}

.project-desc {
  color: rgb(255, 255, 255, 0.7);
  line-height: 25px;
  padding: 20px 0;
}

.project-button {
  border: none;
  border-radius: 5px;
  background-color: #1E3E62;
  color: white;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 20px;
}


/* Footer Section */
.footer {
  color: #ffffff;
  text-align: center;
  padding: 30px;
  font-size: 0.9rem;
  opacity: 0.7;
  display: flex;
  justify-content: center;
}

.footer p {
  margin: 0;
}

.footer-icon {
  height: 16px;
  vertical-align: middle;
}

.footer a {
  color: #61DAFB;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #FF6500;
}

/* Media Query */

/* Untuk layar kecil (ponsel) */
@media (max-width: 820px) {
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .header {
    height: 55px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
  }

  .left-section {
    display: none;
  }

  .right-section {
    padding: 0;
    margin: 0;
  }

  .hero-container {
    margin-top: 30px;
    padding: 0px 90px;
    width: auto;
  }

  .about-hero-container {
    width: 100%;
  }

  .name {
    font-size: 40px;
    padding-left: 5px;
  }

  .position,
  .greeting {
    font-size: 16px;
  }

  .short-desc {
    padding: 30px 5px;
    line-height: 20px;
    width: auto;
  }

  .social-media-container {
    flex-direction: column;

    width: auto;
    height: 100%;
    padding: 10px;
  }

  .left-social-media {
    padding: 0;
    margin: 0;
  }

  .phone,
  .email,
  .right-social-media {
    display: none;
  }

  .about {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 40px 60px;
  }

  .experience {
    padding: 60px;
  }

  .project {
    padding: 60px;
  }

  .project-container {
    grid-template-columns: 1fr;
  }

  .project-list {
    width: auto;
  }

  .footer {
    font-size: 0.8rem;
    padding: 20px;
  }
}

/* Untuk layar sedang (tablet) */
@media (min-width: 821px) and (max-width: 1200px) {
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .header {
    height: 55px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
  }

  .left-section {
    display: none;
  }

  .right-section {
    padding: 0;
    margin: 0;
  }

  .hero-container {
    margin-top: 30px;
    padding: 0px 120px;
    width: auto;
  }

  .about-hero-container {
    width: auto;
    margin-bottom: 50px;
  }

  .name {
    font-size: 50px;
  }

  .position,
  .greeting {
    font-size: 18px;
  }

  .short-desc {
    padding-right: 100px;
    line-height: 22px;
  }

  .social-media-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about {
    grid-template-columns: 0.4fr 1fr;
    padding: 40px 120px;
  }

  .experience {
    padding: 40px 120px;
  }

  .project {
    padding: 40px 120px;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-list {
    width: auto;
  }

  .experience-title::before,
  .project-title::after {
    width: 1000px;
  }

  .footer {
    font-size: 0.85rem;
  }
}